/* NewsItem.css */

.news-item {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-left: 10px; /* Adjust as needed */
    margin-right: 10px; /* Adjust as needed */
  }
  
  .news-item h2 {
    color: #333;
  }
  
  .news-item p {
    margin-top: 10px;
  }
  
  .news-item a {
    color: #007bff;
    text-decoration: none;
  }
  
  .news-item a:hover {
    text-decoration: underline;
  }
  